@import "tailwindcss";

.p-1 { padding: 8px; }
.p-2 { padding: 16px; }
.p-3 { padding: 24px; }
.p-4 { padding: 32px; }

.px-1 { padding-inline: 8px; }
.px-2 { padding-inline: 16px; }

.py-1 { padding-block: 8px; }
.py-2 { padding-block: 16px; }

.m-1 { margin: 8px; }
.m-2 { margin: 16px; }
.m-3 { margin: 24px; }

.gap-1 { gap: 8px; }
.gap-2 { gap: 16px; }
.gap-3 { gap: 24px; }